/* You can add global styles to this file, and also import other style files */
body{
    background-color: aqua;
}

.titulo {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(2, 104, 2);
    border-radius: 10px;
    color: white;
    padding: 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: aqua; 
}
