.title{
  background-color: rgb(25, 141, 223);
  color: white;
  text-align: center;  
  padding: 10px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .formboton{
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .fila1{
    margin-bottom: 20px;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .contenedor-utiles{
    display: flex;
    flex-direction: column ;
  }
  
  .fila3{
    margin-top: 20px;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .mas{
    background-color: rgb(25, 141, 223);
    color: white;
    border-radius: 8px;
    height: 40px;
    margin-top: 20px;
    font-size: 30px;
  }
  .eliminar{
    border: 2px solid rgb(201, 0, 0);
    color: rgb(201, 0, 0);
    border-radius: 8px;
    height: 40px;
    margin-top: 20px;
  }
  .btnguardar{
    border: 2px solid green;
    color: green;
    border-radius: 8px;
    height: 40px;
  }
  .btnlimpiar{
    border: 2px rgb(50, 151, 202) solid;
    color: rgb(50, 151, 202);
    border-radius: 8px;
    height: 40px;
  }
  .contenido1{
    margin: 10px;
    width: 90%;
    height: 100px;
    border: 5px rgb(50, 151, 202);
    border-style: dotted;
    flex-direction: row;
  }
  .btneliminar22{
    background-color: rgb(201, 0, 0);
    color: white;
    border-radius: 8px;
  }
  .caja{
    margin-bottom: 30px;
  }

  .click{
    display: inline;
    width: 10%;
  }
  .example-margin{
      color: rgb(50, 151, 202);
      margin: 20px;
  }
  
  .input{
    margin-left: 20%;
    margin-top: 3%;
  }

  .container1{
    margin: auto;
    padding: auto;
    color: rgb(54, 0, 248);
    font-size: 40px;
  }
